alias b='git switch-recent'
alias c='bat'
alias dv='cd ~/Developer'
alias gas='git -c sequence.editor=: rebase --autosquash --interactive main'
alias l='git l --no-merges -n 30'
alias la='eza --long --git'
alias p='less'
alias sc='pbpaste | sort | pbcopy'
