alias b='git switch-recent'
alias c='bat'
alias dv='cd ~/Developer'
alias gas='git -c sequence.editor=: rebase --autosquash --interactive $(git merge-base main $(git branch --show-current)) '
alias l='git l --no-merges -n 30'
alias la='eza --long --git'
alias lm='l ...$(git merge-base main $(git branch --show-current))'
alias p='less'
alias rb='git rebase --interactive $(git merge-base main $(git branch --show-current))'
alias sc='pbpaste | sort | pbcopy'
